{% extends "base.html" %}
{% block content %}

<div class="container">
        <h1 class="text-center pt-4 pb-3">Kde si môžete s nami zatrénovať</h1> 
        <div class="row">
          <div class="col-12 col-md-12">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Pezinok</a>
                <a class="nav-item nav-link" id="nav-petrzalka-tab" data-toggle="tab" href="#nav-petrzalka" role="tab" aria-controls="nav-petrzalka" aria-selected="false">Petržalka</a>
                <a class="nav-item nav-link" id="nav-dubravka-tab" data-toggle="tab" href="#nav-dubravka" role="tab" aria-controls="nav-dubravka" aria-selected="false">Dúbravka</a>
                <a class="nav-item nav-link" id="nav-platba-tab" data-toggle="tab" href="#nav-platba" role="tab" aria-controls="nav-platba" aria-selected="false">Informácie</a>
              </div>
            </nav>
            <div class="tab-content py-3 px-0 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <h3 class="font-weight-bold">ARÉNA Pezinok</h3>
                            
                                <ul class="list-unstyled">
                                    <li>
                                        <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                        <span class="d-inline-block d-sm-inline-flex">Klasický: Sobota 14:45 - 15:45</span>
                                    </li>
                                    <li>
                                        <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                        <span class="d-inline-block d-sm-inline-flex">Intenzínvy: Sobota 14:45 - 17:00</span>
                                    </li>
                                    <li>
                                        <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                        <span class="d-inline-block d-sm-inline-flex">Individuálny: počas verejného korčuľovania</span>
                                    </li>
                                    <li>
                                        <span class="d-inline-block d-sm-inline-flex"><i class="far fa-car-building"></i></span>
                                        <span class="d-inline-block d-sm-inline-flex">Rozálka 7, 902 01 Pezinok</span>                                      
                                    </li>
                                    <li>
                                        <span class="d-inline-block d-sm-inline-flex"><i class="far fa-ice-skate"></i></span>
                                        <span class="d-inline-block d-sm-inline-flex">od 4r do 100r</span>                                      
                                    </li>
                                    <li>
                                        <span class="d-inline-block d-sm-inline-flex"><i class="fal fa-hockey-sticks"></i></span>
                                        <span class="d-inline-block d-sm-inline-flex">od 14r do 100r</span>                                      
                                    </li>
                                    <li>
                                        <span class="d-inline-block d-sm-inline-flex"><i class="far fa-euro-sign"></i></span>
                                        <span class="d-inline-block d-sm-inline-flex">od 48Eur/6týždňov</span>                                      
                                    </li>
                                </ul>
                            
                        </div>
                        <div class="col-md-6 col-12">
                            <!--Google map-->
                            <div id="map-container-google-2" class="z-depth-1-half map-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2654.3502992690264!2d17.255044915487925!3d48.29611387923643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c90d10ae63923%3A0xf9755250121e659e!2zQXLDqW5hIFBlemlub2sgLSB6aW1uw70gxaF0YWRpw7Nu!5e0!3m2!1sen!2ssk!4v1567846593055!5m2!1sen!2ssk" 
                                width="100%" height="300em" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div><!--Google Maps-->
                        </div>    
                    </div>    
                </div><!-- .Container --> 
              </div><!-- .Tab-oaner --> 
           
              <div class="tab-pane fade" id="nav-petrzalka" role="tabpanel" aria-labelledby="nav-petrzalka-tab">
                    <div class="container"> 
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <h3 class="font-weight-bold">HC Petržalka 2010</h3>
                        
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">Klasický: Nedeľa 15:15 - 16:15</span>
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">Individuálny: Nedeľa 15:15 - 16:15</span>
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-car-building"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">Marie Curie-Sklodowskej 1/A, Bratislava</span>                                      
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-ice-skate"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">od 4r do 100r</span>                                      
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="fal fa-hockey-sticks"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">od 14r do 100r</span>                                      
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-euro-sign"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">od 9Eur/osoba/hodina</span>                                      
                                            </li>
                                        </ul>
                                    
                                </div>
                                <div class="col-md-6 col-12">
                                    <!--Google map-->
                                    <div id="map-container-google-2" class="z-depth-1-half map-container">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.53976085036!2d17.12995731548124!3d48.119113379222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c8900f9a7128b%3A0x3c4c21b5bb4d3899!2sHC%20Petr%C5%BEalka%202010!5e0!3m2!1sen!2ssk!4v1567854506036!5m2!1sen!2ssk" 
                                            width="100%" height="300em" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                    </div><!--Google Maps-->
                                </div>    
                            </div>    
                        </div><!-- .Container -->  
                    </div>
                
              <div class="tab-pane fade" id="nav-dubravka" role="tabpanel" aria-labelledby="nav-dubravka-tab">
                    <div class="container"> 
                            <div class="row">
                                <div class="col-md-6 col-12 px-0">
                                    <h3 class="font-weight-bold">Zimný štadión Harmincova</h3>
                                    
                                        <ul class="list-unstyled">
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">Klasický: Sobota 20:30 - 21:30</span>
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">Individuálny: Sobota 19:00 - 20:00 </span>
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-calendar-alt"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">Hokejový: Sobota 20:30 - 21:30 </span>
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-car-building"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">Harmincova 3211/2, 841 01 Dúbravka</span>                                      
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-ice-skate"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">od 4r do 100r</span>                                      
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="fal fa-hockey-sticks"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">od 14r do 100r</span>                                      
                                            </li>
                                            <li>
                                                <span class="d-inline-block d-sm-inline-flex"><i class="far fa-euro-sign"></i></span>
                                                <span class="d-inline-block d-sm-inline-flex">od 9Eur/osoba/hodina</span>                                      
                                            </li>
                                        </ul>
                                   
                                </div>
                                <div class="col-md-6 col-12">
                                    <!--Google map-->
                                    <div id="map-container-google-2" class="z-depth-1-half map-container">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.4564570087423!2d17.04836665125802!3d48.178556179124605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c8c8667af4fa3%3A0x57671e34a884e630!2zWmltbsO9IMWhdGFkacOzbg!5e0!3m2!1ssk!2ssk!4v1567856309717!5m2!1ssk!2ssk" 
                                            width="100%" height="300em" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                    </div><!--Google Maps-->
                                </div>    
                            </div>    
                        </div><!-- .Container -->
                    </div>  
                
              <div class="tab-pane fade" id="nav-platba" role="tabpanel" aria-labelledby="nav-platba-tab">
                <div class="container-fluid">
                    <p class="text-justify">Ponúkame kurzy na všetkých výkonnostných úrovniach - od úplých začiatočníkov až po nádejných reprezentantov. 
                    Deti navštevujúce naše kurzy sa hravou formou naučia disciplíne a vytrvalosti, zdokonalia svoje koordinačné schopnosti a vybudujú si 
                    pozitívny vzťah k športu.</p>
                    </br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="card h-100">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <h5 class="text-center card-title">Pezinok</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Voľné individuálne hodiny</h5>
                                            <p class="card-text">19 - 26.10.2019</br>Sobota 14:45-15:45/16:00-17-00</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <a href="#" class="btn btn-primary">Objednať</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="card h-100">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <h5 class="text-center card-title">Petržalka</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Voľná hodina</h5>
                                            <p class="card-text">Vypredané</br>...</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <a href="#" class="btn btn-primary">Objednať</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="card h-100">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            <h5 class="text-center card-title">Dúbravka</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Voľný kurz</h5>
                                            <p class="card-text">09 - 14.12.2019</br>Sobota 20:30 - 21:30</p>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <a href="#" class="btn btn-primary">Objednať</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .Container -->
                </div><!-- .Container-Fluid -->

            </div><!--.Tab-pane-->
            </div>
          </div>
        </div>
  </div><!-- .Container -->

  <!-- JS to activate tabs-->
  <script>
        $(document).ready(function(){
          $(".nav-tabs a").click(function(){
            $(this).tab('show');
          });
        });
    </script>

{% endblock %}